* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Roboto';
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

body {
    background-color: #525659;
    font-family: sans-serif;
    color: #37373f;
}

.wraper {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto auto;
    max-width: 850px;
    margin: 0 auto;
}

/* header */

.header {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 20px 180px 50px 1fr;
    height: 200px;
    background-color: #37373f;
    align-items: center;
}

.header__avatar {
    grid-column-start: 2;
    width: 180px;
}

.header__text_box {
    grid-column-start: 4;
}

.header__name {
    font-family: 'Bebas Neue';
    letter-spacing: 8px;
    color: #ff914d;
    font-size: 50px;
}

.header__profession {
    color: white;
    letter-spacing: 3px;
}

/* SKILLS */

.skills {
    background-color: #ff914d;
}

.skill__box {}

.slills__title {
    margin: 45px 0 10px 0;
    font-weight: bold;
    font-size: 14px;
    transform: scale(1, 1.23);
    margin-left: 17px;
}

.skill__list {
    margin-left: 30px;
}

.skill__item {
    margin: 5px 0;
    font-size: 12px;
    line-height: 25px;
}

/* ABOUT */

.about-me {
    background-color: white;
}

.about-me__box>* {
    margin-left: 10px;
}

.about-me__title {
    margin-top: 15px;
    margin: 15px 0 15px 5px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 15px;
}

.about-me__title a {
    color: #37373f;
    font-size: 8px;
    margin-left: 25px;
    font-weight: bold;
}

.about-me__title_orange {
    color: #ff914d;
}

.about-me__text {
    line-height: 15px;
    font-size: 12px;
}

.about-me__subtitle {
    margin-top: 15px;
    font-weight: bold;
    font-size: 12px;
    margin-left: 15px;
}

.about-me__subtitle_mini {
    font-size: 11px;
}

.about-me__list {
    margin-left: 40px;
}

.about-me__item {
    margin: 5px 0;
    font-size: 10px;
}

.about-me__info {
    font-size: 12px;
    margin-left: 20px;
}

.about-me__last {
    font-size: 10px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.about-me__footer_text {
    font-size: 10px;
    margin-left: 20px;
}